!!! 5
head
   title = Pond
   link(rel='stylesheet', href='/stylesheets/style.css')
body
   #wrapper
      #header 
         h1 Social Storm Server 
      h2 The team: 

      ul 
         li James Senter
         li Chris McDonald
         li Adam Gillfillan
         li Collin Bell

      a(href = "/survey") Please fill out this servey

      form(action = '/htstream', method='post')
         input(type = 'text', name = 'hashtag')
         input(type = 'submit', value = 'submit')
