!!! 5
head
	title = Pond
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src = '/socket.io/socket.io.js')
	script
		var socket = io.connect('http://localhost:4000');
		socket.on('rateUpdate', function (data) {
			console.log(data);
		});
  
body
	#wrapper
		#header 
			form(action = '/htstream', method='post')
				input(type = 'text', name = 'hashtag')
				input(type = 'submit', value = 'submit')
			form(action = '/onepercent', method='post')
				input(type = 'submit', value = 'submit')
				
