!!!5

body
   h1 Team Survey
   a(href = '/') Home
  
   form
      ul   
         li 
            | Project Mission Statement:
            textarea(name = 'mission')

         li 
            | Specific task you are heading up:
            textarea(name = 'task')
    
       
         li  
            | How will this task contribute to the mission statement:
            textarea(name = 'contribute')

         li 
            | What technologies will you use (eg libraries)?
            textarea(name = 'technologies')

         li
            | What do you expect out of yourself?
            textarea(name = 'iexpect')

         li
            | What do you expect out of other team members?
            textarea(name = 'uexpect')
